<h1 style="font-weight:200;margin-left:20px;">Listing all ideas</h1><hr>

<%@ideas.each do |idea|%>
  <%=link_to idea_path(idea) do %>

  <div class="col-sm-8">
    <blockquote id="idea_<%=idea.id%>">
      <p><strong><%=idea.name%></strong></p>
      <p><%=idea.body%></p>
      <%if idea.user%>
        <footer><%=idea.user.first_name%>&nbsp;<%=idea.user.last_name%></footer>
      <%else%>
        <footer>Author</footer><br>
      <%end%>

  <!-- end of link -->
  <%end%> 

    <!-- members and like spans -->
    <span style="font-size:10px;">
      Members: <%=idea.users.map{|x|x.first_name + " " + x.last_name}.join(",")%> (<%=idea.users.count%>)
    </span><br>
    <span style="font-size:10px;">
      Like Count: <%=idea.likes.count%>
    </span>

  </blockquote>
  </div>
  <!-- end of idea blockquote div -->


  <!-- buttons to like and join for each idea -->
  <div class="col-sm-4">
    <div style="margin-top:20px;">
    <%if session[:user_id]%>
      <!-- if already joined, link_to unjoin -->
      <%if Joined.exists?(user_id: session[:user_id], idea_id:idea.id)%>
      <%=link_to "Joined", joined_path(Joined.where(user_id: session[:user_id], idea_id:idea.id)[0]), class: "btn btn-primary active", method: "delete"%>
      <%else%>
      <!-- else, like_to join -->
      <%=link_to "Join", joineds_path(user_id:session[:user_id], idea_id:idea.id), class: "btn btn-primary", method: "post"%>
      <%end%>
    <%end%>
    </div>
    <div style="margin-top:20px;">
    <!-- if user logged in -->
    <%if session[:user_id]%>
      <!-- if already liked, link_to unlike -->
      <%if Like.exists?(user_id: session[:user_id], idea_id: idea.id)%>
      <%=link_to "Liked", idea_like_path(idea, Like.where(user_id:session[:user_id], idea_id:idea.id)[0].id), class: "btn btn-primary active", method: "delete"%>
      <%else%>
      <!-- link_to like -->
      <%=link_to "Like", idea_likes_path(idea), class: "btn btn-primary", method: "post"%>
      <%end%>
    <%end%>
    </div>
  </div>

<%end%>
<!-- end of idea -->