<h1>New Idea</h1>

<%=form_for @idea, url:ideas_path(user_id: session[:user_id]) do |idea| %>
  <%=idea.label :name%>
  <%=idea.text_field :name, class: "form-control"%>
  <%=idea.label :body%>
  <%=idea.text_area :body, class: "form-control"%><br>
  <%=idea.hidden_field :user_id, :value=>session[:user_id]%>
  <%=idea.submit class: "btn btn-primary", style: "border-radius:0px;"%>
<%end%>