<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%=form_for @user do |u|%>
<h1 class="customheader">Registration</h1><hr>
  <%=u.label :email%>
  <%=u.email_field :email, class: "textbox"%>
  
  <%=u.label :password%>
  <%=u.password_field :password, class: "textbox", placeholder: "Minimum 8 Characters"%>

  <%=u.label :password_confirmation%>
  <%=u.password_field :password_confirmation, class: "textbox"%>
  <hr>
  <%=u.submit class: 'button'%>
<%end%>
<%=link_to "Login", '/sessions/new' %>
